### Fichiers et dossiers spécifiques à Node.js (Backend & Frontend) ###

# Dépendances Node (INDISPENSABLE)
/backend/node_modules
/blogtester-frontend/node_modules

# Dossiers de compilation (Build)
/blogtester-frontend/build
/blogtester-frontend/dist

# Fichiers sensibles et locaux (INDISPENSABLE)
.env
/backend/.env
/blogtester-frontend/.env

# Journal d'audit de dépendances
npm-debug.log*
yarn-debug.log*
.npm
.yarn

### IDEs et Système d'Exploitation (GÉNÉRAL) ###
# Visual Studio Code
.vscode/
# macOS
.DS_Store
# Windows
Thumbs.db